# <span style='color:orange'>Lists</spanm>

Are used to store multiple items in a single variable.

Are Mutable.

Allow Duplicate elements.

Can have Multiple datatype elements.

In [59]:
this_list = ['apple','cherry','kiwi','apple']
this_list

['apple', 'cherry', 'kiwi', 'apple']

In [60]:
# type of variable : type(list_name)
type(this_list)

list

In [61]:
# len(list_name) : total elements in list
len(this_list)

4

In [62]:
list1 = ['Dhyey Savaliya',21,True,1032220948]
list1

['Dhyey Savaliya', 21, True, 1032220948]

In [63]:
type(list1)

list

In [64]:
type(list1[1])

int

In [65]:
type(list1[0])

str

In [66]:
type(list1[2])

bool

In [67]:
# list() : Constructor
new_list = list((1,2,3,4))
new_list

[1, 2, 3, 4]

### <span style="color:orange">Accessing List elements </span>

In [68]:
new_list[3]

4

In [69]:
# negative indexing
new_list[-1]

4

In [70]:
# range of indices : [start:end:step]
import random as rd

random_list = [rd.randint(10,100) for _ in range(7)]
random_list

[88, 29, 44, 26, 99, 36, 54]

In [71]:
random_list[2:5]
# NOTE : last index is not included.

[44, 26, 99]

In [72]:
random_list[::2]

[88, 44, 99, 54]

In [73]:
random_list[-4:-2] # skips the starting element

[26, 99]

In [74]:
# checking if item exists
if 21 in random_list:
    print(True)

### <span style="color:orange">Changing List elements </span>

In [75]:
random_list

[88, 29, 44, 26, 99, 36, 54]

In [76]:
random_list[1] = 1000
random_list

[88, 1000, 44, 26, 99, 36, 54]

In [77]:
len(random_list)

7

In [78]:
# changing the range of values
random_list[1:4] = [1]

In [79]:
random_list

[88, 1, 99, 36, 54]

In [80]:
# insert(index,item) : inserts an item at the specified index
random_list2 = [rd.randint(50,60) for _ in range (6)]
random_list2

[54, 51, 52, 54, 56, 51]

In [81]:
random_list2.insert(1,100)
random_list2

[54, 100, 51, 52, 54, 56, 51]

In [83]:
# append(element) : add element at end of list
random_list2

[54, 100, 51, 52, 54, 56, 51]

In [84]:
random_list2.append(1000)

In [85]:
random_list2

[54, 100, 51, 52, 54, 56, 51, 1000]

In [86]:
# extend(newlist) : appends new list/tuple/dictionary/set to another list.
random_list

[88, 1, 99, 36, 54]

In [87]:
random_list2

[54, 100, 51, 52, 54, 56, 51, 1000]

In [88]:
random_list.extend(random_list2)

In [89]:
random_list

[88, 1, 99, 36, 54, 54, 100, 51, 52, 54, 56, 51, 1000]

In [90]:
new_tuple = ('Dhyey',21)
print(random_list)
print(new_tuple)

[88, 1, 99, 36, 54, 54, 100, 51, 52, 54, 56, 51, 1000]
('Dhyey', 21)

In [91]:
random_list.extend(new_tuple)
random_list

[88, 1, 99, 36, 54, 54, 100, 51, 52, 54, 56, 51, 1000, 'Dhyey', 21]

### <span style="color:orange">Removing List elements </span>

In [92]:
list2 = [rd.randint(20,40)for _ in range (6)]
list2

[28, 26, 30, 40, 23, 37]

In [93]:
# remove(item) : method removes the specified item
list2.append(40)
list2

[28, 26, 30, 40, 23, 37, 40]

In [94]:
list2.remove(40)
list2

[28, 26, 30, 23, 37, 40]

In [96]:
list2.remove(40)
list2

[28, 26, 30, 23, 37]

In [97]:
# pop(index) : method removes the specified index.
# NOTE : if no index specified, it removes last element
list2.pop(0)
list2

[26, 30, 23, 37]

In [98]:
list2.pop()
list2

[26, 30, 23]

In [99]:
# del list_name[index] : removes specified element
# del list_name : deletes entire list
del list2[0]
list2

[30, 23]

In [100]:
del list2

In [101]:
list2

NameError: name 'list2' is not defined

In [102]:
list1

['Dhyey Savaliya', 21, True, 1032220948]

In [103]:
# clear() : Removes all elelemts from list
list1.clear()
list1

[]

In [104]:
len(list1)

0

### <span style="color:orange">Looping through List elements </span>

In [106]:
LIST = [rd.randint(100,200) for _ in range (7)]
LIST

[174, 119, 133, 177, 133, 131, 104]

In [107]:
for i in LIST:
    print(i)

174
119
133
177
133
131
104

In [108]:
for i in range (len(LIST)):
    print(LIST[i]) # thorugh indices

174
119
133
177
133
131
104

In [111]:
# using while loop
i = 0
while i<(len(LIST)):
    print(LIST[i])
    i+=1

174
119
133
177
133
131
104

### <span style="color:orange">List Comprehension </span>

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

newlist = [expression for item in iterable if condition == True]

In [112]:
l1 = [rd.randint(100,125)for _ in range(5)]
l1

[123, 112, 122, 116, 112]

In [114]:
new_l1 = [x for x in l1 if (x<120)]
new_l1

[112, 116, 112]

### <span style="color:orange">List Sorting </span>

In [116]:
# list.sort()
l1

[112, 112, 116, 122, 123]

In [119]:
l1.sort()
print(l1)

[112, 112, 116, 122, 123]

In [120]:
# sort in descending order
# list.sort(reverse = True)
l1

[112, 112, 116, 122, 123]

In [121]:
l1.sort(reverse=True)
l1

[123, 122, 116, 112, 112]

In [123]:
# case sensitive sort
fruits = ['banana','Kiwi','Avocado','apple']
fruits.sort()
fruits

['Avocado', 'Kiwi', 'apple', 'banana']

In [125]:
# case insensitive sort
fruits2 = ["banana", "Orange", "Kiwi", "cherry"]
fruits2.sort(key=str.lower)
fruits2

['banana', 'cherry', 'Kiwi', 'Orange']

### <span style="color:orange">List Copying</span>

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

You can use the built-in List method copy() to copy a list.

In [128]:
Prev_list = [rd.randint(2,20)for _ in range(4)]
Prev_list

[7, 16, 9, 20]

In [129]:
next_list = Prev_list.copy()
next_list

[7, 16, 9, 20]